.bg-nur-blue {
  background-color: #004a99;
}

.navbar-dark .nav-link {
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-light .nav-link {
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}

.navbar-light .nav-link:hover {
  color: #004a99;
}

.navbar-light .nav-link.active {
  color: #004a99;
  font-weight: 600;
  border-bottom: 2px solid #004a99;
}
