.bg-nur-blue {
  background-color: #004a99;
}

.navbar-dark .nav-link {
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-light .nav-link {
  font-weight: 500;
  color: #333;
}
