
:host {
  display: block;
  width: 100%;
}
.form-content-wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
  padding: 2rem 1rem;
  background-color: #f0f2f5;

}

.login-box {
  max-width: 450px;
  width: 100%;
  border-radius: 0.5rem;
}

/* Título de la caja */
.card-title {
  color: #004a99;
  font-weight: 300;
}

/* Botón principal */
.btn-primary {
  background-color: #004a99;
  border-color: #004a99;
}
.btn-primary:hover {
  background-color: #003a7a;
  border-color: #003a7a;
}

/* Botón secundario (invitado) */
.btn-outline-primary {
  border-color: #004a99;
  color: #004a99;
}

.btn-outline-primary:hover {
  background-color: #004a99;
  color: white;
}

/* Estilo de links */
.form-text, .form-text a {
  color: #004a99;
  text-decoration: none;
}
.form-text:hover, .form-text a:hover {
  text-decoration: underline;
}
/* Inputs del formulario */
.form-control-lg {
  padding: 0.75rem 1rem;
}



